name: Build

on: push

defaults:
  run:
    shell: bash

jobs:
  Build:
    strategy:
      max-parallel: 15
      fail-fast: false
      matrix:
        include:
          - os: windows-latest
            arch: x86
            env: Windows
          - os: windows-latest
            arch: x64
            env: Windows
          - os: ubuntu-18.04
            arch: x64
            env: Linux
          - os: ubuntu-18.04
            arch: x86
            env: Linux
          - os: macos-10.15
            arch: x64
            env: Mac

    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v2

      - name: "Setup Directories"
        run: mkdir output output/lib output/include

      - name: "Configure Arguments"
        run: |
          echo "::set-env name=OUTPUT_DIR::$PWD/output"
          platforms/${{ matrix.env }}.sh
          platforms/${{ matrix.env }}-${{ matrix.arch }}.sh

      - name: "Set CMake paths"
        run: echo "::set-env name=CMAKE_CONFIGURE_ARGS::$CMAKE_CONFIGURE_ARGS -DCMAKE_INSTALL_PREFIX=$PWD/output -DCMAKE_PREFIX_PATH=$PWD/output"

      - name: "Windows: Setup VS Dev Environment"
        if: ${{ matrix.env == 'Windows' }}
        uses: seanmiddleditch/gha-setup-vsdevenv@v1
        with:
          arch: ${{ env.VS_ARCH }}

      - name: "Linux x64: Setup Dependencies"
        if: ${{ matrix.env == 'Linux' && matrix.arch == 'x64' }}
        run: DEBIAN_FRONTEND=noninteractive sudo apt-get -y --no-install-recommends install libgl-dev libasound2-dev libpulse-dev nasm

      - name: "Linux x86: Setup chroot"
        if: ${{ matrix.env == 'Linux' && matrix.arch == 'x86' }}
        run: |
          curl -L https://github.com/legacyclonk/ubuntu-1804-x86-chroot/releases/download/2020-09-26/chroot.tar.xz | sudo tar xJ
          curl -L https://raw.githubusercontent.com/legacyclonk/ubuntu-1804-x86-chroot/master/setup_chroot.sh | sudo bash -e -
          sudo mkdir -p chroot/$PWD
          sudo mount --bind . chroot/$PWD
          DEBIAN_FRONTEND=noninteractive $CHROOT apt-get -y --no-install-recommends install libgl-dev libasound2-dev libpulse-dev curl nasm

      - name: Build zlib
        run: |
          scripts/build.sh zlib

      - name: Build non-Windows
        if: ${{ matrix.env != 'Windows' }}
        run: |
          scripts/build.sh libpng
          scripts/build.sh libjpeg-turbo
          scripts/build.sh openssl

      - name: Build
        run: |
          scripts/build.sh glew
          scripts/build.sh SDL2
          scripts/build.sh libogg
          scripts/build.sh libvorbis
          scripts/build.sh libmodplug
          scripts/build.sh SDL2_mixer
          scripts/build.sh freetype -DCMAKE_DISABLE_FIND_PACKAGE_HarfBuzz=TRUE
          scripts/build.sh harfbuzz
          scripts/build.sh freetype

      - name: Remove bin
        run: $CHROOT rm -r output/bin

      - name: Result
        run: ls -R output

      - uses: actions/upload-artifact@v2
        with:
          name: ${{ matrix.env }}-${{ matrix.arch }}
          path: |
            output/*

      - name: Pack
        if: ${{ startsWith(github.ref, 'refs/tags/') }}
        run: |
          cd output
          tar -czf lc_deps-${{ matrix.env }}-${{ matrix.arch }}.tar.gz *

      - name: Release
        uses: softprops/action-gh-release@v1
        if: ${{ startsWith(github.ref, 'refs/tags/') }}
        with:
          files: output/lc_deps-${{ matrix.env }}-${{ matrix.arch }}.tar.gz
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
